<% if message.user == current_user %>
  <div class="d-flex justify-content-end" id="<%= message.user.id %>">
    <div class="m-1 p-2 blue-bubble" style="max-width: 400px;">
<% else %>
  <div>
    <div class="m-1 p-2 gray-bubble" style="max-width: 400px;">
<% end %>
      <small>
        <strong><%= message.user.first_name %></strong>
        <i style="opacity: 0.75; font-size: 12px;"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
      <% if message.photo.key %>
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
          onClick="(function(){document.getElementById('exampleModal').getElementsByClassName('image-body')[0].src = '<%= cl_image_path(message.photo.key) %>';
              })();return false;">
          <img  src="<%= cl_image_path(message.photo.key) %>"
                class="img-fluid mx-auto d-block"
                style="object-fit: cover; width: 150px; height:150px; border-radius: 10px;"
                alt="message picture">
        </a>
      <% end %>
      <p class="m-0"><%= message.content %></p>
    </div>
  </div>
