<div class="container">
  <div class="text-center mt-3" style="color: #004358;">
    <h1><strong>Confirmation Page</strong></h1>
    <h3>Your post is live!</p>
  </div>

  <div class="d-flex justify-content-center">
    <div class="card border-0" style="width: 65%; border-radius: 20px; max-width: 200px;">
      <% photo_url = @poster.pet.photos.empty? ? 'https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png' : cl_image_path(@poster.pet.photos[0].key) %>
      <img src="<%= photo_url %>" class="card-img-top rounded-bottom" style="height: 175px; object-fit: cover; border-radius: 17px;" alt="Pet photo">
      <div class="card-body text-center">
        <h5 class="card-title"><strong><%= @poster.pet.name %></strong></h5>
        <p class="card-text">Last seen: <%= @poster.address %></p>
        <p class="card-text"><strong><%= @poster.date_missing %></strong></p>
      </div>
    </div>
  </div>

  <div class="text-center mt-3" style="color: #004358;">
    <p>
      You will receive a confirmation email.<br>
      You will be notified in the update<br>
      section on your dashboard.
    </p>
  </div>

  <div class="d-flex justify-content-center">
    <div class="card text-white bg-secondary mb-3" style="width: 80%; max-width: 300px;">
      <div class="card-header">Contact info used on the poster:</div>
      <div class="card-body">
        <p class="card-title text-center">
          <%= @poster.pet.user.first_name %> <%= @poster.pet.user.last_name %> <br>
          <%= @poster.pet.user.phone_number %> <br>
          <%= @poster.pet.user.email %>
        </p>
      </div>
    </div>
  </div>

  <div class="container" style="width: 90%;">
    <div class="d-flex justify-content-end">
      <%= link_to "Home", root_path, class: 'btn btn-lg btn-font-size-sm', style: 'border-radius: 10px; background-color: #046E8F; color: white;' %>
    </div>
  </div>
</div>
