<div class="container" data-controller="poster-form">
    <div class="d-flex justify-content-center my-3">
      <div class="card border-0" style="width: 65%; border-radius: 20px; max-width: 200px;">
        <% photo_url = @poster.pet.photos.empty? ? 'https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png' : cl_image_path(@poster.pet.photos[0].key) %>
        <img src="<%= photo_url %>" class="card-img-top rounded-bottom" style="height: 175px; object-fit: cover; border-radius: 17px;" alt="Pet photo">
        <div class="card-body text-center">
          <h5 class="card-title"><strong><%= @poster.pet.name %></strong></h5>
          <p class="card-text">Last seen: <%= @poster.address %></p>
          <p class="card-text"><strong><%= @poster.date_missing %></strong></p>
        </div>
      </div>
    </div>
  <h1 class="form-labels text-center mt-3">Add a Description</h1>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
<div class="vh-50"></div>
      <%= simple_form_for @poster do |p| %>

        <%= p.simple_fields_for :pet do |f| %>
          <%= p.input :comment, input_html: {class: "mapboxgl-ctrl-geocoder", style: "min-height: 100px" }, label_html: {class: "h3 form-labels"}, :label => false %>
        <% end %>

        <div class="row">
          <div class="col-6 d-flex justify-content-start">
            <%= link_to "Cancel", root_path, class:"btn btn-lg", style:"background-color: #616161; color: white; border-radius: 10px;" %>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <%= p.submit 'Update', class:"btn btn-lg", style:"background-color: #046E8F; color: white; border-radius: 10px;" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-1"></div>
  </div>
</div>
