<div class="container" data-controller="poster-form">
  <h1 class="form-labels text-center mt-3">Pet Poster Info</h1>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <%= simple_form_for @pet do |f| %>
        <%= f.simple_fields_for :posters do |p| %>
          <%= f.input :name, input_html: {class: "mapboxgl-ctrl-geocoder"}, label_html: {class: "h3 form-labels"}, placeholder: 'Pet Name' %>
          <%= p.input :date_missing, as: :string, input_html: {class: "datepicker mapboxgl-ctrl-geocoder"}, label_html: {class: "h3 form-labels"}  %>
          <%= p.input :address, input_html: { data: { poster_form_target: "address" }, class: "d-none" },
                              wrapper_html: { data: { controller: "poster-form", poster_form_api_key_value: ENV['MAPBOX_API_KEY'] }},
                                label_html: {class: "h3 form-labels"}, required: false %>
          <%= f.input :species, label: 'Features', as: :select, collection: ['Dog', 'Cat'], prompt: 'Species', input_html: { data: {
            poster_form_target: "species",
            action: 'change->poster-form#update'
          }, class: "mapboxgl-ctrl-geocoder"}, label_html: {class: "h3 form-labels"} %>
          <%= f.input :breed, label: false, as: :select, collection: [], prompt: 'Breed', input_html: { data: {
            poster_form_target: "breed"
          }, class: "mapboxgl-ctrl-geocoder"}, disabled: true %>
          <%= f.input :color, label: false, as: :select, collection: ['Black', 'Brown', 'White', 'Gray', 'Red', 'Multi-Colored'], prompt: 'Color', input_html: {class: "mapboxgl-ctrl-geocoder"} %>
          <%= f.input :photos, as: :file, input_html: { multiple: true, style:'outline: 2px dashed black; background-color: white; outline-offset: -2px;' }, label_html: {class: "h3 form-labels"} %>
        <% end %>

        <div class="row">
          <div class="col-6 d-flex justify-content-start">
            <%= link_to "Cancel", root_path, class:"btn btn-lg", style:"background-color: #616161; color: white; border-radius: 10px;" %>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <%= f.submit 'Publish', class:"btn btn-lg", style:"background-color: #046E8F; color: white; border-radius: 10px;" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-1"></div>
  </div>
</div>
