<div id="petImagesCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <% @poster.pet.photos.each_with_index do |photo, index| %>
      <% if index == 0 %>
        <button type="button" data-bs-target="#petImagesCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <% else %>
        <button type="button" data-bs-target="#petImagesCarousel" data-bs-slide-to="<%= index %>" aria-label="Slide <%= index + 1 %> "></button>
      <% end %>
    <% end %>
  </div>
  <div class="carousel-inner">
    <% @poster.pet.photos.each_with_index do |photo, index| %>
      <% if index == 0 %>
        <div class="carousel-item active">
          <% photo_url = cl_image_path(photo.key) %>
          <img src="<%= photo_url %>"  class="d-block w-100" style="max-height: 600px; object-fit: cover;" alt="A different angle of the same pet">
        </div>
      <% else %>
        <div class="carousel-item">
          <% photo_url = cl_image_path(photo.key) %>
          <img src="<%= photo_url %>"  class="d-block w-100" style="max-height: 600px; object-fit: cover;" alt="A different angle of the same pet">
        </div>
      <% end %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#petImagesCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#petImagesCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h1><%= @poster.pet.name %></h1>

<ul class="list-group d-flex flex-column mt-3">
  <li class="list-group-item"><p>Last seen : <%= @poster.date_missing %></li>
  <li class="list-group-item"><p>Species : <%= @poster.pet.species %></p></li>
  <li class="list-group-item"><p>Breed : <%= @poster.pet.breed %></p></li>
  <li class="list-group-item"><p>Color : <%= @poster.pet.color %></p></li>
</ul>

<p><%= link_to "Print Your Poster (PDF)", poster_path(@poster, format: 'pdf') %></p>

<h2>Description</h2>
<li class="list-group-item"><p><%= @poster.comment %></p></li>


<!--
<div class="card-product">
  <div class="card-product-infos">
    <div class="posterinfo-container d-flex flex-column align-items-center">
      <h1><%= @poster.pet.name %></h1>
      <p>Last seen : <%= @poster.date_missing %>
      <p>Species : <%= @poster.pet.species %></p>
      <p>Breed : <%= @poster.pet.breed %></p>
      <p>Color : <%= @poster.pet.color %></p>
      <p>Description : <%= @poster.pet.description %></p>
    </div>
  </div>
</div>
-->
<div style="width: 100%; height: 200px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="row">
  <div class="col-6 d-flex justify-content-start">
    <%= link_to "Back", root_path, class:"btn btn-lg", style:"background-color: #616161; color: white; border-radius: 10px;" %>
  </div>
  <div class="col-6 d-flex justify-content-end">
  </div>
</div>
