<div id="petImagesCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <% @poster.pet.photos.each_with_index do |photo, index| %>
      <% if index == 0 %>
        <button type="button" data-bs-target="#petImagesCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <% else %>
        <button type="button" data-bs-target="#petImagesCarousel" data-bs-slide-to="<%= index %>" aria-label="Slide <%= index + 1 %> "></button>
      <% end %>
    <% end %>
  </div>
  <div class="carousel-inner">
    <% @poster.pet.photos.each_with_index do |photo, index| %>
      <% if index == 0 %>
        <div class="carousel-item active">
          <% photo_url = cl_image_path(photo.key) %>
          <img src="<%= photo_url %>"  class="d-block w-100" style="max-height: 50vh; object-fit: cover;" alt="A different angle of the same pet">
        </div>
      <% else %>
        <div class="carousel-item">
          <% photo_url = cl_image_path(photo.key) %>
          <img src="<%= photo_url %>"  class="d-block w-100" style="max-height: 50vh; object-fit: cover;" alt="A different angle of the same pet">
        </div>
      <% end %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#petImagesCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#petImagesCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container" style="color:#004358">

  <h1 class="mt-3 text-center"><strong><%= @poster.pet.name %></strong></h1>

  <ul class="list-group d-flex flex-column mt-3" style="border-radius:15px; border-color: #046E8F; outline: #046E8F;">
    <li class="list-group-item d-flex justify-content-between" style="color:#004358; padding-top: 10px; padding-bottom: 10px;"><strong>Last seen</strong> <span><%= @poster.date_missing %></span></li>
    <li class="list-group-item d-flex justify-content-between" style="color:#004358; padding-top: 10px; padding-bottom: 10px;"><strong>Species</strong> <span><%= @poster.pet.species %></span></li>
    <li class="list-group-item d-flex justify-content-between" style="color:#004358; padding-top: 10px; padding-bottom: 10px;"><strong>Breed</strong> <span><%= @poster.pet.breed %></span></li>
    <li class="list-group-item d-flex justify-content-between" style="color:#004358; padding-top: 10px; padding-bottom: 10px;"><strong>Color</strong> <span><%= @poster.pet.color %></span></li>
  </ul>

  <h2 class="mt-3">Description</h2>
  <ul class="list-group d-flex flex-column border-0" style="border-radius:15px">
    <li class="list-group-item m-0" style="color:#004358;"><%= @poster.comment %></li>
  </ul>

  <h2 class="mt-3">Location lost </h2>
  <ul class="list-group d-flex flex-column border-0" style="border-radius:15px">
    <li class="list-group-item pt-3 pb-3 text-center" style="color:#004358;">
      <%= @poster.address %>
    </li>
    <li class="list-group-item p-0" style="color:#004358;">
      <div style="width: 100%; height: 200px; border-bottom-right-radius: 14px; border-bottom-left-radius: 14px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY']%>"
        data-mapbox-map-id-value=99>
      </div>
    </li>
  </ul>

  <div class="row m-3">
    <div class="col-6 d-flex justify-content-start">
      <%= link_to "Home", root_path, class:"btn btn-lg d-flex align-items-center", style:"background-color: #616161; color: white; border-radius: 10px;" %>
    </div>
    <% if current_user == @poster.pet.user %>
      <div class="col-6 d-flex justify-content-end">
          <%= link_to "Print", print_poster_path(@poster), class:"btn btn-lg", style:"background-color: #046E8F; color: white; border-radius: 10px;" %>
      </div>
    <% else %>
      <div class="col-6 d-flex justify-content-end">
          <%= link_to "Message #{@poster.pet.user.first_name}", contact_path(@poster.pet.user), class:"btn d-flex align-items-center", style:"background-color: #046E8F; color: white; border-radius: 10px;" %>
      </div>
    <% end %>
  </div>
</div>
