<div style="background-color: #046E8F;">
  <div class="banner mt-0">
    <div class="container">
      <h1><strong></strong></h1>
      <p> Find My Pet is a community that connects owners back to their companions.</p>
    </div>
    <img src="<%= image_path('wave.png') %>" alt="Overlay">
  </div>

  <div class="container">
    <div class="d-flex justify-content-between mt-3 mb-3 text-center">
      <div class="col-5 mx-auto">
        <%= link_to new_poster_path, class:"btn", style:"width: 150px; font-size:normal; border-color: white; background-color: white; color: #046E8F; border-radius: 10px; " do %>
          <span style="font-weight:bold; font-size:200%;">＋</span><br>
          Lost My Pet
        <% end %>
      </div>
      <div class="col-5 mx-auto">
        <%= link_to new_report_path, class:"btn", style:"width: 150px; font-size:normal; border-color: white; background-color: white; color: #046E8F; border-radius: 10px;" do %>
          <span style="font-weight:bold; font-size:200%;">＋</span><br>
          Spotted a Pet
        <% end %>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="container">
      <% if current_user.pets.any?%>
        <% if current_user.pets[0].posters.any? %>
          <h2 style="color: white; font-weight:bold;">Your <%= "Poster".pluralize(current_user.pets[0].posters) %></h2>
          <div class="row justify-content-center my-3">
            <% current_user.pets.each do |pet| %>
              <% pet.posters.each do |poster| %>
                <% if !poster.found? %>
                  <div class="col-6">
                    <div class="card mb-3" style="height: 250px; border-radius: 20px; max-width: 170px;">
                      <% photo_url = pet.photos.empty? ? 'https://www.vets4pets.com/globalassets/close-up-of-cat-looking-up.jpg?w=585&scale=down' : cl_image_path(pet.photos[0].key) %>
                      <img src="<%= photo_url %>" class="card-img-top rounded-bottom" style="object-fit: cover; border-radius: 19px; height: 130px;" alt="Pet photo">
                      <div class="card-body text-center">
                        <div>
                          <h5 class="card-title"><strong><%= poster.pet.name %></strong></h5>
                          <%= link_to edit_poster_path(poster.id), class:"btn", style:"padding: 2px 5px; background-color: #046E8F; color: white; border-radius: 10px; position:absolute; bottom: 43%; right: 5%" do %>
                          Edit
                          <% end %>
                        </div>
                        <p class="card-text">Last seen: <%= truncate(poster.address, :length => 15) %></p>
                        <p class="card-text"><strong><%= poster.date_missing %></strong></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-5">
                    <h4  style="color: white;">Updates</h4>
                    <%# @nearby checks distance, species, color %>
                      <% @nearby = Report.near([poster.latitude, poster.longitude], 2, :units => :km, :order => :distance) %>
                      <% @nearby = @nearby.select {|report| Date.today - report.date_spotted <= 1 } %>
                      <% @nearby = @nearby.select {|report| report.color == poster.pet.color && report.species == poster.pet.species}   %>

                      <% if @nearby.empty? %>
                        <div class="updates">No other updates !</div>
                      <% else %>

                        <div class="updates"> Check <%= @nearby.size %> recent <%= "report".pluralize(@nearby.size) %> nearby!
                        <%= link_to "", "/dashboard", class:"stretched-link"%>
                        </div>
                      <% end %>
                        <div class="updates">Your poster is live.</div>
                    <div style="text-align:right"><%= link_to "View all", "/dashboard", class: "seeMoreLink"%></div>
                  </div>

                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="container">
    <h3 style="color: white; font-weight:bold;">Missing Pets Near You</h3>

    <% if @posters.any? %>
      <div class="row row-cols-2 row-cols-md-4 gy-3 m-0">
        <% @posters.each do |poster| %>
          <% if poster.pet.user != current_user %>
            <div class="col mb-2">
              <div class="card mx-auto" style="height: 250px; border-radius: 20px; max-width: 170px;">
                <% photo_url = poster.pet.photos.empty? ? 'https://www.vets4pets.com/globalassets/close-up-of-cat-looking-up.jpg?w=585&scale=down' : cl_image_path(poster.pet.photos[0].key) %>                <div class="parent">
                  <img src="<%= photo_url %>" class="card-img-top image1 rounded-bottom" style="object-fit: cover; border-radius: 19px; height: 130px;" alt="Pet photo">
                  <img src="<%= image_path('overlay.png') %>" class="card-img-top image2 rounded-bottom" style="object-fit: cover; border-radius: 20px; height: 135px;" alt="Overlay">
                </div>
                <div class="card-body text-center p-1">
                  <h5 class="card-title" style="font-size: 24px;">
                    <strong><%= poster.pet.name %></strong>
                  </h5>
                  <p class="card-text" style="font-size: 15px;">
                    Last seen:
                  </p>
                  <p class="card-text" style="font-size: 14px; line-height: 1em;">
                    <%= truncate(poster.address) %>
                  </p>
                  <p class="card-text" style="font-size: 15px; line-height: 2em;">
                    <strong><%= poster.date_missing %></strong>

                  </p>
                  <%= link_to "", poster_path(poster.id), class:"stretched-link"%>
                </div>
              </div>
            </div>
          <% end %>

        <% end %>
      </div>
    <% end %>

    <div class="d-flex justify-content-end align-items-end">
      <%= link_to "See more", pets_path, class:"btn btn-ghost" %>
    </div>
  </div>
</div>
