<div class="container" data-controller="poster-form">
  <h1 class="form-labels text-center mt-3" style="color: #046E8F">Spotted Poster Info</h1>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <%= simple_form_for(@report) do |f| %>
        <%= f.input :report_type, :collection => %w[Loose Caught], default: 'Loose', input_html: {class: "form-buttons"}, label_html: {class: "h3 form-labels"}%>
        <%= f.input :species, label: 'Features', as: :select, collection: ['Dog', 'Cat'], prompt: 'Species', input_html: {class: "form-buttons"}, label_html: {class: "h3 form-labels"}, required: false %>
        <%= f.input :color, label: false, as: :select, collection: ['Black', 'Brown', 'Beige', 'White', 'Gray', 'Red', 'Multi-Colored'], prompt: 'Color', input_html: {class: "form-buttons"} %>
        <%= f.input :date_spotted, as: :string, input_html: {class: "datepicker form-buttons"}, label_html: {class: "h3 form-labels"}  %>
        <%= f.input :address,
          wrapper_html: { data: { poster_form_api_key_value: ENV['MAPBOX_API_KEY'], poster_form_target: "address" }},
          input_html: { data: {  }, class: "d-none" },
          label_html: { class: "h3 form-labels"}, required: false
        %>
        <%= f.input :description, input_html: {class: "form-buttons"}, label_html: {class: "h3 form-labels"} %>
        <%= f.input :photos, as: :file, input_html: { multiple: true, style:'outline: 2px dashed black; background-color: white; outline-offset: -2px;'} %>
        <%= f.submit 'Submit Report', class:"btn btn-lg", style:"background-color: #046E8F; color: white; border-radius: 10px;" %>
      <% end %>
    </div>
    <div class="col-1"></div>
  </div>
</div>
