
<div class="wrapper m-3">
  <div class="container">
    <h1>Spotted Pet Info</h1>
    <%= simple_form_for(@report) do |f| %>
      <%= f.input :report_type, :collection => %w[Loose Caught], default: 'Loose' %>
      <%= f.input :species, :collection => %w[Dog Cat] %>
      <%= f.input :date_spotted %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit 'Submit Report' %>
    <% end %>
  </div>
</div>
