<div class="wrapper m-3">
    <h2>Report Submitted!</h2>
  <div class="container d-flex">

<%# if the report has photos %>
  <div class="card-report">
    <%# add photos once Cloudinary is integrated %>
    <%#= cl_image_path %>
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div>
        <h3><%= @report.report_type %> <%= @report.species %></h3>
        <p>Last seen around <%= @report.address %> on <%= @report.date_spotted %>. </p>
    </div>
  </div>

<%# if the report does not have photos %>
  <div class="card-report">
    <div class="card-trip-infos">
      <div>
        <h3><%= @report.report_type %> <%= @report.species %></h3>
        <p>Last seen around <%= @report.address %> on <%= @report.date_spotted %>. </p>
      </div>
    </div>
  </div>

      <p>

      </p>
      <p>

      </p>

      <p>

      </p>
      <p>

      </p>
  </div>
</div>

<div class="wrapper m-3">
  <div class="container">
    <h2>Potential Matches</h2>
  </div>
</div>

<div class="wrapper m-3">
  <div class="container">
    <h2>Recently Found Pets</h2>
  </div>
</div>
