<div class="wrapper m-3">
    <h2>Report Submitted!</h2>
  <div class="container d-flex">

<%# if the report has photos %>
  <div class="card-report plus-image">
    <%# add photos once Cloudinary is integrated %>
    <%#= cl_image_path %>
    <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> %>
      <div class="lowerDiv">
        <h3><%= @report.report_type %> <%= @report.species %></h3>
        <p>Last seen <%= @report.address %> on <%= @report.date_spotted %> </p>
    </div>
  </div>

<%# if the report has photos %>
  <div class="card-report">
    <%# add photos once Cloudinary is integrated %>
    <%#= cl_image_path %>
    <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> %>
      <div class="noImageDiv">
        <h3><%= @report.report_type %> <%= @report.species %></h3>
        <p>Last seen <%= @report.address %> on <%= @report.date_spotted %> </p>
    </div>
  </div>
<%# if the report does not have photos %>

      <p>

      </p>
      <p>

      </p>

      <p>

      </p>
      <p>

      </p>
  </div>
</div>

<div class="wrapper m-3">
  <div class="container">
    <h2>Potential Matches for </h2>

  </div>
</div>

<div class="wrapper m-3">
  <div class="container">
    <h2>Recently Found Pets</h2>
  </div>
</div>
