<div class="wrapper m-3">
  <div class="container">
    <h3>Report Submitted!</h3>
      <p>
        <%= @report.date_spotted %>
      </p>
      <p>
        <%= @report.address %>
      </p>
      <p>
        <%= @report.species %>
      </p>
      <p>
        <%= @report.description %>
      </p>
      <p>
        <%= @report.report_type %>
      </p>
      <% @report.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
  </div>
</div>

<div class="wrapper m-3">
  <div class="container">
    <h2>Potential Matches</h2>
  </div>
</div>

<div class="wrapper m-3">
  <div class="container">
    <h2>Recently Found Pets</h2>
  </div>
</div>
